# macOS
.DS_Store

# bloop and metals
.bloop
.metals
.bsp
project/metals.sbt

# sbt
project/target/
project/project/
target/

# intellij
.idea
# vscode
.vscode

# .env files
**/*.env

# logs
*.log
# core dump files
core.*
